@import url(../css/gambarino.css);

:root {
    --c-dark: #212529;
    --c-light: #f8f9fa;
    --c-primary: #007bff;
    --c-background: #fae3ac;
    --c-body: #727272;
    --font-base:"Gambarino", sans-serif;
    
}

body {
    font-family: var(--font-base);
    background-color: var(--c-background);
    color: var(--c-body);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--c-base);
    transition: var(--c-light);
}